meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Ambiente Propicio para Productos Agropecuarios dentro de Negocios Verdes.
meta(meta name="description" content="La administración de un sistema agropecuaria es compleja, tiene una interacción directa con la adquisición de insumos, actividades productivas y comercialización de productos. El éxito de una empresa del sector agropecuario depende principalmente de su producción e incursión en un nicho de mercado acertado. Pero en forma más sencilla de explicar, principalmente de una correcta administración que sea asertiva y diligente, que conozca el negocio en todos sus aspectos funcionales, que sea pacífica en el componente técnico teniendo claro los ciclos de producción e insumos requeridos para cada uno de ellos. De igual manera, los productos dispuestos para la venta, las necesidades de personal, los servicios públicos requeridos y todos los elementos necesarios para el buen funcionamiento de la empresa agropecuaria.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")