h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Estructura administrativa de una empresa agropecuaria', 'main.html#page/estructura/')
                    +navTemaItem('2', 'Escenarios de mercadeo para productos agropecuarios en negocios verdes', 'main.html#page/escenarios/')
                    +navTemaItem('3', 'Diligencia del talento humanoa', 'main.html#page/diligencia/')
                    +navTemaItem('4', 'Instrumentos financieros de patrimonio de la empresa agropecuaria', 'main.html#page/instrumentos/')                    