h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210601023-02 - Definir plan de acción de actividades administrativas según recursos y procedimiento técnico. 

            li 
                span 260101002-01 - Alistar los recursos necesarios para la implementación de acciones estratégicas de mercadeo según necesidades de la empresa y procedimientos técnicos.            

            li 
                span 260101002-02 - Realizar las acciones estratégicas según plan de mercadeo, segmentos y escenarios de mercados requeridos por la empresa. 
                
            li 
                span 210201052-02 - Proyectar las actividades del área de talento humano de acuerdo con herramientas gerenciales y criterios técnicos.                

            li 
                span 210601013-01 - Sistematizar la información contable y financiera de la empresa en documentos y soportes según normativa y políticas organizacionales.                 