.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Empleador:
            | que da empleo a otros.
        
        p
            strong.mr-2 Insumo:
            | bien de cualquier clase empleado en la producción de otros bienes.
        p 
            strong.mr-2 Inventario:
            | lista ordenada de bienes y demás cosas valorables que pertenecen a una persona, empresa o institución.
        
        p
            strong.mr-2 Mercadeo:
            | conjunto de operaciones por las que ha de pasar una mercancía del productor al consumidor.
        p 
            strong.mr-2 Mercado:
            | conjunto de actividades relacionadas con la compra y venta de mercancías y servicios.

        p 
            strong.mr-2 Operario:
            | persona que tiene un oficio de tipo manual o que requiere esfuerzo físico, en especial si maneja una máquina en una fábrica o taller. 

        p 
            strong.mr-2 Organigrama:
            | representación gráfica de la estructura de una empresa o cualquier otra organización, que incluye las estructuras departamentales y, en algunos casos, las personas que las dirigen, hacen un esquema sobre las relaciones jerárquicas.

        p 
            strong.mr-2 Personal:
            | que se realiza con la participación de una persona físicamente presente y no utilizando medios indirectos, como el teléfono o la mediación de otras personas. 