.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Cámara de Comercio de Bogotá. (2020). Pasos para crear empresa. 
                    
                    td Página web.
                    td 
                        a(href="https://www.ccb.org.co/Cree-su-empresa/Pasos-para-crear-empresa", target="_blank") <span class="fa fa-download mr-3" aria-hidden="true"></span> Descargar

                tr
                    td TVAgro. (2016). Manejo Contable en una Producción agrícola.
                    
                    td Video.
                    td 
                        a(href="https://www.youtube.com/watch?v=ANAxokvWr_c", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver                        